body{
    background-color: black;
    font-family: 'Righteous', cursive;
}

h1{
    color: whitesmoke;
}

.card{
    text-align: center;
    padding-bottom: 15pt;
}

#intro {
    margin-top: 100pt;
}

#title {
    text-align: center;
}

#titleCont {
    margin-top: 70pt;
}

#textCont {
    margin-top: 70pt;
}

#buttonDiv {
    text-align: center;
    margin-top: 35pt;
}
